<div class="container mt-5 user-registration">
  <div class="row">
    <div class="col-11 col-md-8 col-lg-5 mx-auto small">
      <%= render "devise/shared/error_messages", resource: resource, class: "" %>
    </div>
  </div>
  <div class="row">
    <div class="card mx-auto text-center col-11 col-md-8 col-lg-5 p-0 mt-5 shadow">
      <h3 class="card-header-register py-1">
        新規登録
      </h3>
      <div class="card-body pt-0">
        <p>ニックネーム、メールアドレス、<br>
           パスワードを入力してください</p>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local:true do |f| %>
          <div class="input-group input-group-lg mt-2 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
             </div>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control', placeholder: "ニックネーム" %>
          </div>
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
             </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "メールアドレス" %>
          </div>
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "パスワード（英数字8文字以上）"  %>
          </div>
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "パスワード確認" %>
          </div>
            <%= f.submit "新規登録", class: 'btn btn-success btn-block btn-lg border-0', data: {"turbolinks"=>false} %>
        <% end %>
      </div>
    </div>
  </div>
</div>