<% visitor = notification.visitor %>
<div class="form-inline">
  <span>
    <%= link_to user_path(visitor) do %>
      <%= attachment_image_tag visitor, :profile_image, fallback: "no_image.png", size: "60x40", class: 'notification-picture' %>
    <strong><%= visitor.nickname %></strong>
    <% end %>
    <%= 'さんが' %>

    <% case notification.action %>
    <% when 'follow' %>
      <%= "あなたをフォローしました" %>
    <% when 'favorite' %>
      <%= link_to "あなたの投稿", post_book_path(notification.post_book) %>
      <%= "にいいねしました" %>
    <% when 'comment' %>
      <%= link_to "あなたの投稿", post_book_path(notification.post_book) %>
      <%= "にコメントしました" %>
    <% end %>
  </span>
  <span class="d-block ml-auto small text-muted">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </span>
</div>