<div class="container">
  <div class="row">
    <div class="col-6 mx-auto my-5">
      <%= search_form_for @search, url: admin_root_path do |f| %>
        <%= f.search_field :nickname_or_email_cont_any, placeholder: 'ニックネームまたはemailで検索' %>
        <%= f.select :is_deleted, [['有効', '有効'], ['退会済み', '退会済み']] %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
          <i class='fas fa-search'></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td></td>
        <td>ニックネーム</td>
        <td>Eメールアドレス</td>
        <td>登録日</td>
        <td>ステータス</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 70, 60, fallback: "no_image.jpg", size:'150x100', class: 'rounded-circle' %></td>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= user.is_deleted %></td>
        <td><%= link_to "編集する", edit_admin_user_path(user), class: "btn btn-sm btn-success" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>