<div class="container mt-5">
  <div class="col-11 col-md-8 col-lg-5 mx-auto">
      <div class="text-danger font-weight-bold mb-3"><%= flash[:none] %></div>
        <div class="text-danger font-weight-bold mb-3"><%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %></div>
        <div class="text-danger font-weight-bold mb-3"><%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %></div>
        <div class="text-danger font-weight-bold mb-3"><%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %></div>
    </div>
  <div class="row">
    <div class="card mx-auto text-center col-10 col-md-6 col-lg-5 mt-5 p-0 shadow">
      <h4 class="card-header-register py-1">
        管理人ログイン
      </h4>
      <div class="card-body pt-1">
        <p>メールアドレス、<br>
           パスワードを入力してください</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group mt-3 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
               </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "メールアドレス" %>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "パスワード" %>
            </div>
              <%= f.submit "ログイン", class: 'btn btn-success btn-block border-0' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
