<div class="container mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="col-6 col-md-3 col-lg-2 ml-0 ml-md-2 ml-lg-5 page-title">読書一覧</h4>
      <div class="text-right mb-3 mb-md-0">
        <%= link_to "グラフで確認", detail_path(user_id: params[:user_id]), class: 'btn btn-success' %>
      </div>
      <%= form_with url: search_books_path, method: :get, local: true do |f| %>
        <div class="row form-group m-0 mb-1">
            <div class="col-7 col-md-5 col-lg-3 p-0 offset-md-2 offset-lg-3"><%= f.text_field :search, placeholder: 'キーワードを入力', class: 'form-control form-control-sm' %></div>
            <div class="col-4 col-md-2 col-lg-2 p-0 ml-2"><%= f.select :genre_id, options_from_collection_for_select(genres, :id, :name), { prompt: "ジャンル" }, { class: 'form-control form-control-sm' }%></div>
          </div>
          <div class="row form-group m-0 mb-1">
            <div class="col-4 col-md-3 col-lg-2 p-0 offset-md-2 offset-lg-3"><%= f.date_field :read_from, class: 'form-control form-control-sm' %></div>
            <span>〜</span>
            <div class="col-4 col-md-3 col-lg-2 p-0"><%= f.date_field :read_to, class: 'form-control form-control-sm' %></div>
            <div class="col-2 col-md-2 col-lg-1"><%= f.submit "検索", class: 'btn btn-sm btn-success' %></div>
        </div>
        <%= f.hidden_field :user_id, :value => params[:user_id] %>
      <% end %>
      <%= render 'books/user', user: @user, title: "登録一覧" %>
      <table class="table table-hover mt-2 book-index">
        <thead class="font-weight-bold book-index-head">
          <tr>
            <td>著者</td>
            <td>題名</td>
            <td>ジャンル</td>
            <td>読み終わった日</td>
          </tr>
        </thead>
        <tbody>
          <% books.each do |book| %>
          <tr>
            <td><%= link_to book.author, book_path(book), class: "text-dark" %></td>
            <td><%= link_to book.book_title, book_path(book), class: "text-dark" %></td>
            <td><%= link_to book.genre.name, book_path(book), class: "text-dark" %></td>
            <td><%= link_to book.read_date, book_path(book), class: "text-dark" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if books.blank? %>
        <p class="text-center">該当するデータはありません</p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="d-block mx-auto small"><%= paginate books %></div>
</div>