<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-11 col-lg-8 mx-auto">
      <h4 class="col-7 col-md-4 col-lg-3 page-title">記録詳細</h4>
      <div class="row">
        <div class="ml-auto">
        <% if @book.user == current_user %>
          <%= link_to "編集する", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %>
          <%= link_to "削除する", book_path(@book.id), method: :delete, class: 'btn btn-sm btn-danger' %>
        <% end %>
        </div>
      </div>
      <%= render 'books/user', user: @book.user, title: "登録一覧" %>
      <table class="table table-hover mt-2 book-index">
        <thead class="font-weight-bold book-index-head">
          <tr>
            <td>著者</td>
            <td>題名</td>
            <td>ジャンル</td>
            <td>読み終わった日</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @book.author %></td>
            <td><%= @book.book_title %></td>
            <td><%= @book.genre.name %></td>
            <td><%= @book.read_date %></td>
          </tr>
        </tbody>
      </table>
      <div class="row mx-auto">
        <span class="small ml-1"><メモ></span>
        <div class="col-12 border book-note">
          <%= @book.note %>
        </div>
      </div>
    </div>
  </div>
</div>