<div class="jumbotron jumbotron-fluid jumbotron-extend contents">
  <div class="jumbotron-container">
    <span class="small ml-2">読んでシェアする、読書体験共有型のSNS</span>
      <h1 class="display-1 lg">BookShare</h1>
    <p class="ml-2 lead">BookShareは、読んだ本の考察や感想を共有したり、<br>
                      自分自身の読書記録に活用することができます
    </p>
  </div>
  <div class="top_quote">
    <p class="mb-1"> 僕は飛行機で世界一周もした。スペインの革命も調停した。<br>
        北極点だって踏破した。でも君を前に、その一歩が踏み出せない。</p>
    <p class="small">アイラ・ガーシュイン</p>
  </div>
</div>
<div class="container p-0 my-5">
  <div class="top-btn text-center">
    <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-info mx-3 mb-1' %><br class="sp_br">
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-info mx-3  mb-1' %><br class="sp_br">
    <%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, class: 'btn btn-info mx-3 mb-1' %>
  </div>
  <div class="top top-background">
    <div class="text-center">
      <h1 class="font-weight-bold mb-3 top-outline">BookShareとは？</h1>
    </div>
    <div class="container">
      <ul class="list-group h3">
        <li class="list-group-item border-0 font-weight-bold my-2">
          ◆ <span class="top-outline-sentence">BookShareってなに？</span>
            <ul>
              <li class="h6">
                −読書体験共有型のSNS＆読書記録に活用頂ける、webアプリケーションサービスです。
              </li>
            </ul>
        </li>
        <li class="list-group-item border-0 font-weight-bold my-2">
          ◆ <span class="top-outline-sentence">BookShareを活用するメリットは？</span>
            <ul>
              <li class="h6">
                −論理的思考力や多面的な考え方を身につけることができます。
                 <%= link_to "BookShareのメリット", root_path(anchor: 'merit') %>をご参照ください。
              </li>
            </ul>
        </li>
        <li class="list-group-item border-0 font-weight-bold my-2">
          ◆ <span class="top-outline-sentence">BookShareの使い方は？</span>
            <ul>
              <li class="h6">
                −感想や考察の投稿、読書記録に活用できます。詳細は
                <%= link_to "BookShareの使い方", root_path(anchor: 'use') %>をご参照ください。
              </li>
            </ul>
        </li>
        <li class="list-group-item border-0 font-weight-bold my-2">
          ◆ <span class="top-outline-sentence">開発者からのメッセージ</span>
            <ul>
              <li class="h6">
                −情報で溢れる現代だからこそ、じっくり本を読むことはとても大切なことだと思います。<br>
                <span class="ml-2">BookShareは、そのきっかけになるように作成しました。ぜひご活用ください。</span>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="top top-merit">
    <div class="text-center">
      <h1 class="font-weight-bold top-outline", id="merit" >BookShareのメリット</h1>
    </div>
    <div class="card-deck mt-5">
      <div class="row row-eq-height">
        <div class="col-10 col-xl-4 offset-1 offset-xl-0">
          <div class="card text-center border border-dark">
            <div class="card-header text-white h3">
              論理的思考力の訓練
            </div>
            <div class="card-body p-0 my-3">
              <%= image_tag 'top_design1.jpg', size: "325x280", class: 'top-merit-pic' %>
              <p class="card-text mt-2">自分の考えを言葉にすることで、<br>
                                   論理的な考え方を訓練できます</p>
            </div>
          </div>
        </div>
        <div class="col-10 col-xl-4 mt-2 mt-xl-0 offset-1 offset-xl-0">
          <div class="card text-center border border-dark">
            <div class="card-header text-white h3">
              多面的な考え方を育成
            </div>
            <div class="card-body p-0 my-3">
              <%= image_tag 'top_design2.jpg', size: "325x280", class: 'top-merit-pic' %>
              <p class="card-text mt-2">他の人の意見や考えを学ぶことで、<br>
                                    多面的な考え方が身につきます
            </div>
          </div>
        </div>
        <div class="col-10 col-xl-4 mt-2 mt-xl-0 offset-1 offset-xl-0">
          <div class="card text-center border border-dark">
            <div class="card-header text-white h3">
              読書習慣の定着
            </div>
            <div class="card-body p-0 my-3">
              <%= image_tag 'top_design3.jpg', size: "325x280", class: 'top-merit-pic' %>
              <p class="card-text mt-2">読み終わった本を記録にすることで、<br>
                                    読書を習慣化することができます</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top top-how">
    <div class="text-center">
      <h1 class="font-weight-bold mt-3 top-outline", id="use">BookShareの使い方</h1>
      <p class="small mt-4 mb-4">※サービスのご利用には、<u><%= link_to '新規登録', new_user_registration_path %></u>が必要です。</p>
    </div>
    <div class="col-lg-12 border border-dark pb-3 mx-2 mx-md-0">
      <div class="h4 mt-4 ml-2 font-weight-bold">◆ <span class="instruction_title">読んだ本の感想や考察の共有</span></div>
      <div class="container">
        <div class="row mt-4">
          <div class="col-lg-6 text-center">
            <p class="mt-2">
              ① ページ先頭の<i class="fas fa-feather-alt"></i><strong>新規投稿</strong>をクリック。<br>
              内容を記入し、投稿しましょう！
            </p>
            <%= image_tag "post-book-image.png", size:'320x250', class: 'top-how-pic' %><br>
          </div>
          <div class="col-lg-6 text-center">
            <p class="mt-2">
              ② 投稿すると一覧に表示されます。<br>
              <u>投稿には<strong>コメント</strong><i class="fas fa-comments"></i>・<strong>いいね</strong><i class="fas fa-thumbs-up"></i>ができます！</u>
            </p>
            <%= image_tag "book-index-image.png", size:'320x250', class: 'top-how-pic' %><br>
          </div>
        </div>
      </div>
      <div class="h4 mt-4 ml-2 font-weight-bold">◆ <span class="instruction_title">読んだ本を記録</span></div>
      <div class="container">
        <div class="row mt-4">
          <div class="col-lg-6 text-center">
            <p class="mt-2">
              ① ページ先頭の<i class="fas fa-bookmark"></i><strong>読書記録</strong>をクリック。<br>
              本の情報を記入し、登録してください！
            </p>
            <%= image_tag "book-image.png", size:'320x250', class: 'top-how-pic' %><br>
          </div>
          <div class="col-lg-6 text-center">
            <p class="mt-2">
              ② <u>読書記録は<strong>グラフ</strong><i class="fas fa-signal"></i>で確認することができます。</u><br>
            　どんどん本を読んで、登録してみてください！
            </p>
            <%= image_tag "book-graph-image.png", size:'340x170', class: 'top-how-pic' %><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>