<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 mx-auto">
      <div class="text-danger font-weight-bold mb-3"><%= flash[:none] %></div>
        <div class="text-danger font-weight-bold mb-3"><%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %></div>
        <div class="text-danger font-weight-bold mb-3"><%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %></div>
        <div class="text-danger font-weight-bold mb-3"><%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %></div>
    </div>
  </div>
  <div class="row">
    <div class="card mx-auto text-center col-12 col-md-8 col-lg-5 p-0 mt-5 shadow">
      <h3 class="card-header-register py-2">
        ログイン
      </h3>
      <div class="card-body pt-2">
        <p>メールアドレス、<br>
           パスワードを入力してください</p>
        <%= form_with model: @user, url: user_session_path, local:true do |f| %>
          <div class="input-group input-group-lg mt-4 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "メールアドレス" %>
          </div>
          <div class="input-group input-group-lg mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "パスワード（英数字8文字以上）" %>
          </div>
              <%= f.submit "ログイン", class: 'btn btn-success btn-block btn-lg border-0' %>
        <% end %>
      </div>
    </div>
  </div>
</div>