<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col-5 mx-auto mt-5">
          <%= attachment_image_tag @post_book, :post_book_image, :fill, 250, 250, fallback: "no_image_book.jpg", size:'280x250' %>
          <h5 class="mt-3">著者: <%= @post_book.post_book_author %></h5>
          <h5>タイトル: <%= @post_book.post_book_title %></h5>
        </div>
        <div class="col-7 mx-auto mt-5 p-0">
          <div class="row">
            <div class="col-lg-4 p-0">
              <%= attachment_image_tag @post_book.user, :profile_image, :fill, 60, 60, fallback: "no_image_book.jpg", size:'120x100', class: 'rounded-circle' %>
            </div>
            <div class="col-lg-8 p-0 mt-3">
              <h4><%= @post_book.created_at.strftime('%Y/%m/%d') %></h4>
              <h4 class="mt-3"><u><%= link_to @post_book.user.nickname, user_path(@post_book.user_id) %></u></h4>
            </div>
          </div>
          <h3 class="text-center mt-5"><%= @post_book.title %></h3>
          <p class="mt-5 ml-3">ジャンル名:<%= @post_book.genre.name %> コメント件数:<%= @post_book.comments.count %></p>
          <%= link_to "削除する", admin_post_book_path(@post_book), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 border mt-3 mx-auto">
          <%= @post_book.content %>
        </div>
      </div>
      <div class="row">
        <% @post_book.comments.each do |comment| %>
        <div class="col-12 border mt-3">
          <div class="row">
            <div class="col-2 text-center pr-0">
              <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image_book.jpg", size:'120x100', class: 'rounded-circle' %>
              <p><%= comment.user.nickname %></p>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-3">
                  <%= comment.created_at.strftime('%Y/%m/%d') %>
                </div>
                <div class="col-4 offset-lg-5 mr-0 text-right">
                  <%= link_to '削除する', admin_post_book_comment_path(@post_book, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' %>
                </div>
              </div>
              <%= comment.comment_content %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>